@using System.Collections.Generic;
@using IntoSport.Models;

@{Html.RenderPartial("ManagerHead");}
@{Html.RenderPartial("ManagerMenu");}

@model Register

@{
    
    Register customer = (Register)ViewData["customer"];
}

<h1>Klant</h1>

<br />
<br />

@{
    if (ViewData["msg"] != null)
    {
        <p class="alert alert-success">@ViewData["msg"]</p>
    }

    if (!ViewData.ModelState.IsValid)
    {
        <p class="alert alert-danger">
            De volgende velden zijn verplicht:<br /> <strong>
                @Html.ValidationMessageFor(model => model.achternaam) <br />
                @Html.ValidationMessageFor(model => model.adres) <br />
                @Html.ValidationMessageFor(model => model.huisnr) <br />
                @Html.ValidationMessageFor(model => model.postcode) <br />
                @Html.ValidationMessageFor(model => model.plaats) <br />
            </strong>
        </p>
    }
}

<form action="@Request.RawUrl" method="post">
    @Html.HiddenFor(model => model.id, new { Value = customer.id })

    <label>Voornaam:</label>
    @Html.TextBoxFor(model => model.voornaam, new { Value = customer.voornaam, @class = "form-control" })

    <br />

    <label>Tv + Achternaam:</label>
    @Html.TextBoxFor(model => model.achternaam, new { Value = customer.achternaam, @class = "form-control" })

    <br />

    <label>Adres:</label>
    @Html.TextBoxFor(model => model.adres, new { Value = customer.adres, @class = "form-control" })

    <br />

    <label>Huisnr:</label>
    @Html.TextBoxFor(model => model.huisnr, new { Value = customer.huisnr, @class = "form-control" })

    <br />

    <label>Postcode:</label>
    @Html.TextBoxFor(model => model.postcode, new { Value = customer.postcode, @class = "form-control" })

    <br />

    <label>Plaats:</label>
    @Html.TextBoxFor(model => model.plaats, new { Value = customer.plaats, @class = "form-control" })

    <br />

    <input type="submit" name="submit" value="Opslaan" class="btn btn-default" />
</form>

@{Html.RenderPartial("ManagerFooter");}
