@using System.Collections.Generic;
@using IntoSport.Models;

@{Html.RenderPartial("ManagerHead");}
@{Html.RenderPartial("ManagerMenu");}

@model Product

@{
    Product product = (Product)ViewData["product"];
}

<h1>Product</h1>
@{
    if (ViewData["msg"] != null)
    {
        <p class="alert alert-success">@ViewData["msg"]</p>
    }
}

<form action="/admin/product" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(model => model.id)

    <label>Selecteer een categorie:</label>
    <select name="categories" class="form-control">
        @{
            foreach(Dictionary<string, object> categorie in (List<Dictionary<string, object>>)ViewData["getCategories"])
            {
                
                <option value="@categorie["id"]">@categorie["naam"]</option>
            }
        }
    </select>
    @Html.ValidationMessageFor(model => model.categorie_id)

    <br />

    <label>Naam:</label> 
    @Html.TextBoxFor(model => model.naam, new { @class = "form-control" }) 
    @Html.ValidationMessageFor(model => model.naam)

    <br />

    <label>Beschrijving:</label> 
    @Html.TextAreaFor(model => model.beschrijving, new { @class = "form-control"})

    <br />

    <label>Prijs:</label> 
    @Html.TextBoxFor(model => model.prijs, new { @class = "form-control"}) 
    @Html.ValidationMessageFor(model => model.prijs)

    <br />

    <label>Korting (%):</label> 
    @Html.TextBoxFor(model => model.korting, new { @class = "form-control"})

    <br />

    <label>Voorraad:</label> 
    @Html.TextBoxFor(model => model.voorraad, new  { @class = "form-control"}) 
    @Html.ValidationMessageFor(model => model.voorraad)

    <br /><br />
    <!--
    <label>Thumbnail:</label>
    <input type="file" name="thumbnail" class="form-control" />
    Html.ValidationMessageFor(model => model.thumbnail)

    <br />

    <label>Afbeelding:</label> 
    <input type="file" name="afbeelding" class="form-control" />
    Html.ValidationMessageFor(model => model.afbeelding)
        -->
    <br />
    <input type="submit" name="submit" value="Opslaan" class="btn btn-default" />
</form>

@{Html.RenderPartial("ManagerFooter");}


