@using System.Collections.Generic;
@using IntoSport.Models;

@{Html.RenderPartial("ManagerHead");}
@{Html.RenderPartial("ManagerMenu");}

@model Product

@{
    var categoriesList = Category.getCategoryList();
    Product product = (Product)ViewData["product"];
}

<h1>Product</h1>

<br />
<br />

@{
    if (ViewData["msg"] != null)
    {
        <p class="alert alert-success">@ViewData["msg"]</p>
    }

    if (!ViewData.ModelState.IsValid)
    { 
        <p class="alert alert-danger">
            De volgende velden zijn verplicht:<br /> <strong>
                @Html.ValidationMessageFor(model => model.naam) <br />
                @Html.ValidationMessageFor(model => model.prijs) <br />
                @Html.ValidationMessageFor(model => model.voorraad) <br />
                @Html.ValidationMessageFor(model => model.thumbnail) <br />
                @Html.ValidationMessageFor(model => model.afbeelding) <br />
            </strong>
        </p>
    }
}

<form action="@Request.RawUrl" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(model => model.id, new { Value = product.id })

    <label>(De)selecteer een categorie:</label><br />
    @{
        foreach(Category cat in categoriesList)
        {
            @cat.naam 
            if (Product.IsInCategorie(product.id, cat.id))
            {
                <input type="checkbox" name="subcat" value="@cat.id" checked style="margin-right: 15px; " />
            }
            else
            {
                <input type="checkbox" name="subcat" value="@cat.id" style="margin-right: 15px; " />
            }
        }
}

    <br /><br />

    <label>Naam:</label> 
    @Html.TextBoxFor(model => model.naam, new { Value = product.naam, @class = "form-control" }) 

    <br />

    <label>Beschrijving:</label> 
    @Html.TextAreaFor(model => model.beschrijving, new { Value = product.beschrijving, @class = "form-control" })

    <br />

    <label>Prijs:</label> 
    @Html.TextBoxFor(model => model.prijs, new { Value = product.prijs, @class = "form-control" }) 

    <br />

    <label>Korting (%):</label> 
    @Html.TextBoxFor(model => model.korting, new { Value = product.korting, @class = "form-control" })

    <br />

    <label>Voorraad:</label> 
    @Html.TextBoxFor(model => model.voorraad, new { Value = product.voorraad, @class = "form-control" })  <small>0 = Out of stock</small>

    <br /><br />
    
    @{
        if (!product.thumbnail.IsEmpty())
        {
            <img src="@product.thumbnail" width="150" />
            <br /> <br />
        }
    }

    <h3>Details</h3>

    <br /><br />

    <label>Thumbnail:</label>
    <input type="file" name="thumbnail" class="form-control" />
    
    <br />

    <label>Afbeelding:</label> 
    <input type="file" name="afbeelding" class="form-control" />
       
    <br />
    <input type="submit" name="submit" value="Opslaan" class="btn btn-default" />
</form>

@{Html.RenderPartial("ManagerFooter");}


