@using System.Collections.Generic;
@using IntoSport.Models;

@{Html.RenderPartial("ManagerHead");}
@{Html.RenderPartial("ManagerMenu");}

@model Product

@{
    var categoriesList = Category.getCategoryList();
    Product product = (Product)ViewData["product"];
    
}

<script src="~/Template/js/bootstrap-tagsinput.min.js"> </script>
<link type="text/css" rel="stylesheet" href="~/Template/css/bootstrap-tagsinput.css"/>
<script>
    $(document).ready(function () {
        var json_object = {};

        $("#saveDetail").click(function()
        {
            
          
            var detail_naam = $("#detail_naam").val();
            var detail_waarde = Array($("#detail_waarde").val());
            json_object[detail_naam] = detail_waarde;
       

            console.log(JSON.stringify(json_object));
            $("#inputDetails").val(JSON.stringify(json_object));
            showDetails();

        });


        function showDetails()
        {
            $("#details").html("");
            for (var key in json_object) {
                if (json_object.hasOwnProperty(key)) {
                
                    $("#details").append("<strong>" + key + " </strong>: " + json_object[key] + "<br/>");
                    $(".modal").modal("hide");
                    $("#detail_name").empty();
                    $("#detail_waarde").empty();
                }
            }
           // json_object = {};
        }

      
    
        

    });
    
</script>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Product Details</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" name="" id="detail_naam" placeholder="Naam"/>
                <br/>
                <input type="text" class="form-control"  id="detail_waarde" placeholder="Mogelijke waardes" data-role="tagsinput" />
                <input type="hidden" value="@product.id"/>
            </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-primary" id="saveDetail">Opslaan</button>
            </div>
        </div>
    </div>
</div>

@{
    if (ViewData["msg"] != null)
    {
        <p class="alert alert-success">@ViewData["msg"]</p>
    }

    if (!ViewData.ModelState.IsValid)
    { 
        <p class="alert alert-danger">
            De volgende velden zijn verplicht:<br /> <strong>
                @Html.ValidationMessageFor(model => model.naam) <br />
                @Html.ValidationMessageFor(model => model.prijs) <br />
                @Html.ValidationMessageFor(model => model.voorraad) <br />
                @Html.ValidationMessageFor(model => model.thumbnail) <br />
                @Html.ValidationMessageFor(model => model.afbeelding) <br />
            </strong>
        </p>
    }
}

<form action="@Request.RawUrl" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(model => model.id, new { Value = product.id })
<div class="row">
    <div class="col-md-3">
        @{
            if (!product.thumbnail.IsEmpty())
            {
                <img src="@product.thumbnail" width="150" class="img-thumbnail" />
                
            }
            else
            {
                <span class="fa fa-image fa-5x"></span>
            }
            
        }
        <br/>
        <label>Thumbnail:</label>
        <input type="file" name="thumbnail" class="btn btn-default btn-sm" />

        <br />

        <label>Afbeelding:</label>
        <input type="file" name="afbeelding" class="btn btn-default btn-sm" />
        <br/><br/>
        <label>Details</label><!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm btn-lg pull-right" data-toggle="modal" data-target="#myModal">
    Details Tevoegen
</button>
        
        <div id="details"></div>
        <hr />

    <label>(De)selecteer een categorie:</label><br/>
        <hr/>
    @{
        foreach(Category cat in categoriesList)
        {
            @cat.naam 
            if (Product.IsInCategorie(product.id, cat.id))
            {
                <input type="checkbox" name="subcat" value="@cat.id" checked style="margin-right: 15px; " />
            }
            else
            {
                <input type="checkbox" name="subcat" value="@cat.id" style="margin-right: 15px; " />
            }
        }
}


        </div>
  <div class="col-md-6">


    <label>Naam:</label> 
    @Html.TextBoxFor(model => model.naam, new { Value = product.naam, @class = "form-control" }) 

    <br />

    <label>Beschrijving:</label> 
    @Html.TextAreaFor(model => model.beschrijving, new { Value = product.beschrijving, @class = "form-control" })

    <br />

    <label>Prijs:</label> 
    @Html.TextBoxFor(model => model.prijs, new { Value = product.prijs, @class = "form-control" }) 

    <br />

    <label>Korting (%):</label> 
    @Html.TextBoxFor(model => model.korting, new { Value = product.korting, @class = "form-control" }) <small>Dit is ook de aanbieding. Verschijnt in de slider op de homepage.</small>

    <br /><br />

    <label>Voorraad:</label> 
    @Html.TextBoxFor(model => model.voorraad, new { Value = product.voorraad, @class = "form-control" })  <small>0 = Out of stock</small>
   
    @*@{
            string detailName = "";
    }

    @{
        <table style="margin-left: 20px;">
            <tr><td>Details selecteren</td></tr>
            @foreach(Dictionary<string, object> sefa in (List<Dictionary<string, object>>)ViewData["details"])
            {
                if(!detailName.Equals(sefa["naam"]))
                {
                    detailName = (string)sefa["naam"];
                    
                    <tr><td>&nbsp;</td></tr>
                    <tr style="float: left; margin-left: -20px;"><td>@detailName</td></tr>
                    <tr><td>&nbsp;</td></tr>
                }
                <tr>
                    <td>@sefa["waarde"]</td>

                    @if (Product.isInDetail(product.id, (int)sefa["dw_id"]))
                    {
                        
                        <td><input type="checkbox" name="detail" value="@sefa["dw_id"]" checked /></td>
                    }
                    else
                    {
                        
                        <td><input type="checkbox" name="detail" value="@sefa["dw_id"]"/></td>
                    }
                </tr>
            }
        </table>
    }*@

         
    <br />
    <input type="submit" name="submit" value="Opslaan" class="btn btn-primary" />
    <input type="hidden" id="inputDetails" name="detailsJSON" value="" />
    
</form>
</div></div>

@{Html.RenderPartial("ManagerFooter");}


