@using System.Collections.Generic;
@using IntoSport.Models;

@{Html.RenderPartial("ManagerHead");}
@{Html.RenderPartial("ManagerMenu");}

@model Product

@{
    Product product = (Product)ViewData["product"];
}

<h1>Product</h1>
@{
    if (ViewData["msg"] != null)
    {
        <p class="success">@ViewData["msg"]</p>
    }
}

<form action="/admin/product" method="post">
    @Html.HiddenFor(model => model.id)
    <label>Naam:</label> @Html.TextBoxFor(model => model.naam, new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.naam)
    <label>Beschrijving:</label> @Html.TextAreaFor(model => model.beschrijving, new { @class = "form-control"})
    <label>Prijs:</label> @Html.TextBoxFor(model => model.prijs, new { @class = "form-control"}) @Html.ValidationMessageFor(model => model.prijs)
    <label>Korting (%):</label> @Html.TextBoxFor(model => model.korting, new { @class = "form-control"})
    <label>Voorraad:</label> @Html.TextBoxFor(model => model.voorraad, new  { @class = "form-control"}) @Html.ValidationMessageFor(model => model.voorraad)
    <br /><br />
    <label>Afbeelding:</label> @Html.TextBoxFor(model => model.afbeelding, new { @class = "form-control"}) @Html.ValidationMessageFor(model => model.afbeelding)
    <label>Thumbnail:</label> @Html.TextBoxFor(model => model.thumbnail, new { @class = "form-control"}) @Html.ValidationMessageFor(model => model.thumbnail)
    <br />
    <input type="submit" name="submit" value="Opslaan" class="btn btn-default" />
</form>

@{Html.RenderPartial("ManagerFooter");}


