@using IntoSport.Models;

@model Register

@{
    ViewBag.Title = "Index";
}

<h2>Meld je nu aan!</h2>
@using (Html.BeginForm())
{
    <div class="grid-container">
        <div class="grid-6">
            <div class="label">Voornaam:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.voornaam) 
                @Html.ValidationMessageFor(model => model.voornaam)
            </div>
            <div class="label">Tussenvoegsel:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.tv)
            </div>
            <div class="label">Achternaam:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.achternaam) 
                @Html.ValidationMessageFor(model => model.achternaam)
            </div>
            <div class="label">Straat:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.adres) 
                @Html.ValidationMessageFor(model => model.adres)
            </div>
            <div class="label">Huisnummer + Toevoeging:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.huisnr) 
                @Html.ValidationMessageFor(model => model.huisnr)
            </div>
            <div class="label">Postcode:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.postcode) 
                @Html.ValidationMessageFor(model => model.postcode)
            </div>
            <div class="label">Stad:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.plaats) 
                @Html.ValidationMessageFor(model => model.plaats)</div>
            <div class="label">Telefoonnummer:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.tel) 
                @Html.ValidationMessageFor(model => model.tel)
            </div>
        </div>
        <div class="grid-6">
            <div class="label">Emailadres:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.email, new { autocomplete = "off" }) 
                @Html.ValidationMessageFor(model => model.email)
            </div>
            <div class="label">Wachtwoord:</div>
            <div class="input">
                @Html.PasswordFor(model => model.wachtwoord, new { autocomplete = "off" }) 
                @Html.ValidationMessageFor(model => model.wachtwoord)
            </div>
            <div class="label">Herhaal wachtwoord:</div>
            <div class="input">
                @Html.PasswordFor(model => model.passwordrepeat) 
                @Html.ValidationMessageFor(model => model.passwordrepeat)
            </div>
        </div>
    </div>
    <input type="submit" value="Registreer">
}