@using IntoSport.Models;

@{Html.RenderPartial("BaseHead");}

@model Register

<h2>Meld je nu aan!</h2>
@using (Html.BeginForm())
{
    <div class="grid-container">
        <div class="grid-6">
            <div class="small">Voornaam:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.voornaam, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.voornaam)
            </div>
            <div class="small">Achternaam:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.achternaam, new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.achternaam)
            </div>
            <div class="small">Adres:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.adres, new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.adres)
            </div>
            <div class="small">Huisnummer + Toevoeging:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.huisnr, new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.huisnr)
            </div>
            <div class="small">Postcode:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.postcode, new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.postcode)
            </div>
            <div class="small">Stad:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.plaats, new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.plaats)</div>
            <div class="small">Telefoonnummer:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.tel, new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.tel)
            </div>
        </div>
        <div class="grid-6">
            <div class="small">Emailadres:</div>
            <div class="input">
                @Html.TextBoxFor(model => model.email, new { autocomplete = "off", @class="form-control"  }) 
                @Html.ValidationMessageFor(model => model.email)
            </div>
            <div class="small">Wachtwoord:</div>
            <div class="input">
                @Html.PasswordFor(model => model.wachtwoord, new { autocomplete = "off", @class= "form-control" }) 
                @Html.ValidationMessageFor(model => model.wachtwoord)
            </div>
                  
        </div>
    </div>
    <br/>
    
        
<input type="submit" name="submit" value="Registreer" class="btn btn-lg btn-default" />
 




}
@{Html.RenderPartial("BaseFooter");}
