@model IntoSport.Models.LogOnViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm("Login", "Account"))
{
    <span style="color:red">@Html.ValidationMessage("loginfout")</span>
    <fieldset>
        <legend>Inloggen</legend>

        <div class="editor-label">
            E-mailadres
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            Wachtwoord
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <p>
            <input type="submit" value="log in" />
        </p>
    </fieldset>
}
