@{Html.RenderPartial("BaseHead");}
@{
    var product = ViewData["product"] as IntoSport.Models.Product;
    var details = ViewData["details"] as List<KeyValuePair<string, string>>;
    var categorie = ViewData["categorie"] as List<IntoSport.Models.BreadCrumbs>;
    
}
    <h1>
    @{
        if (categorie != null)
        {
            foreach (IntoSport.Models.BreadCrumbs breadcrumbs in categorie)
            {
                <a href="/product/?categorie=@breadcrumbs.id">@breadcrumbs.naam</a> <span>&raquo;</span>

            }
            @product.naam
        }

    }
</h1>

<div class="productDetailContainerTop">
    <div class="productDetailImg">
        <img src="@product.afbeelding" style="width:100%" />
    </div>
    <div class="productDetails">
        <h1>@product.naam</h1>
        <div class="divider"></div>
        <ul>
           @if (details != null)
           {
               string detailName = "";

               foreach (KeyValuePair<string, string> detail in details)
               {
                   if(!detailName.Equals(detail.Key.ToString()))
                   {
                       detailName = @detail.Key.ToString();

                       <h4>@detailName</h4>
                   }
                   
                <li style="margin-left: 30px; ">@detail.Value.ToString()</li>


               }
           }
        </ul>
        <div class="bottomContainer">

                <p class="price">Prijs: <span>&euro; @product.prijs</span><p>
                @{

                    if (product.korting != 0)
                    {
                        <br />
                        <br />
                        <i class="fa-2x">@product.korting<span>%</span></i>
                    }
                }


                <div class="rightContainer">
                    <form action="/cart/addToCart" method="get">
                        <input type="hidden" name="id" value="@product.id" />
                        <label>Aantal: <input type="text" name="Quantity" value="1" min="0"></label>

                        <input type="submit" value="Plaats in winkelwagen" name="submit" class="submit">
                    </form>
                </div>
</div>
    </div>
</div>
<div class="productDetailContainerBottom">
    Beschrijving
    <hr/>
    <div class="productDetailDesc">
       <small>@product.beschrijving</small>
       
    </div>
</div>
@{Html.RenderPartial("BaseFooter");}