@{Html.RenderPartial("BaseHead");}
@{
    var product = ViewData["product"] as IntoSport.Models.Product;
    var details = ViewData["details"] as List<KeyValuePair<string, string>>;
    
}
    <h1>Categroie 1 &raquo; Sub-categorie 2 &raquo; @product.naam</h1>
<div class="productDetailContainerTop">
    <div class="productDetailImg">
        <img src="@product.afbeelding" style="width:100%" />
    </div>
    <div class="productDetails">
        <h1>@product.naam</h1>
        <div class="divider"></div>
        <ul>
           @if (details != null)
           {


               foreach (KeyValuePair<string, string> detail in details)
               {

                <li>@detail.Key.ToString(): @detail.Value.ToString()</li>


               }
           }
        </ul>
        <div class="bottomContainer">
            
                <p class="price">Prijs: <span >&euro;@product.prijs</span><p>
                <p></p>
                <i class="fa-3x"> -@((product.prijs/100)*product.korting)&euro;</i>
            

    <div class="rightContainer">
        <form action="/cart" method="post">
            <label>Aantal: <input type="text" name="amount" value="1" min="0"></label>
            <input type="submit" value="Plaats in winkelwagen" name="submit" class="submit">
        </form>
    </div>
</div>
    </div>
</div>
<div class="productDetailContainerBottom">
    Beschrijving
    <hr/>
    <div class="productDetailDesc">
       <small>@product.beschrijving</small>
       
    </div>
</div>
@{Html.RenderPartial("BaseFooter");}